.input {
  width: 100%;
  padding: 15px 20px;
  font-size: var(--font-size-s);
  border-radius: var(--radius-s);
  border: 1px solid var(--border-primary);
}

.error {
  padding-left: 20px;
  padding-right: 20px;
}
