.wrapper {
  position: relative;

  .input {
    padding-right: calc((10px * 2) + 24px); // left-right paddings + icon size
  }

  .button {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
