$device-phone-max: 599px;
$device-mobile-min: 600px;
$device-mobile-max: 767px;
$device-tablet-min: 768px;
$device-tablet-max: 1219px;
$device-laptop-min: 1220px;
$device-laptop-max: 1365px;
$device-desktop-min: 1366px;
$device-desktop-max: 1920px;
