@use "devices" as *;

@mixin desktop-max {
  @media (max-width: $device-desktop-max) {
    @content;
  }
}

@mixin desktop-min {
  @media (min-width: $device-desktop-min) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $device-desktop-min) and (max-width: $device-desktop-max) {
    @content;
  }
}

@mixin laptop-max {
  @media (max-width: $device-laptop-max) {
    @content;
  }
}

@mixin laptop-min {
  @media (min-width: $device-laptop-min) {
    @content;
  }
}

@mixin laptop-only {
  @media (min-width: $device-laptop-min) and (max-width: $device-laptop-max) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: $device-tablet-max) {
    @content;
  }
}

@mixin tablet-min {
  @media (min-width: $device-tablet-min) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $device-tablet-min) and (max-width: $device-tablet-max) {
    @content;
  }
}

@mixin mobile-max {
  @media (max-width: $device-mobile-max) {
    @content;
  }
}

@mixin mobile-min {
  @media (min-width: $device-mobile-min) {
    @content;
  }
}

@mixin mobile-only {
  @media (min-width: $device-mobile-min) and (max-width: $device-mobile-max) {
    @content;
  }
}

@mixin phone-only {
  @media (max-width: $device-phone-max) {
    @content;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
