@use "@/styles/mixins" as *;

.container {
  padding-left: 40px;
  padding-right: 40px;

  @include laptop-max {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include tablet-max {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile-max {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
